/* Basic Stylesheet */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: rgba(255, 255, 255, 0.85);
  font-family: Times, 'Times New Roman', serif;
  text-align: center;
}

a {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);

  &:hover {
    color: #ffcc00;
    border-bottom: 1px solid #ffcc00;
  }
}

nav {
  font-size: 2.6rem;
  text-align: left;
  margin-top: 1rem;
  padding-left: 1rem;
}

header, #content, footer {
  margin-bottom: 5rem;
}

header {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.6rem;
  }
}

.container {
  width: 100%;
  margin: 10rem auto;
  font-size: 2.6rem
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1; 
  margin-bottom: 0;  
}

h3 {
  font-size:2.6rem;
  line-height: 1.2;
  margin-bottom: 1em;
  text-align: center;
  font-size: 2.6rem;
}

audio {
  width: 75%;
  margin-bottom: 2rem;
}

p {
  font-size:1.8rem;
  line-height: 1.2;
  margin-bottom: 1em;
  text-align: left;
  font-size: 1.8rem;
}

#content {
  width: 80%;
  margin: 0 auto;
}

.qr-code {
  display: block;
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-bottom: 0;
}

footer {

  p {
    font-size: 1.4rem;
  }
  
  font-family: monospace;
  width: 80%;
  margin: 5rem auto;
}


/* Mobile Breakpoint */
@media (max-width: 767px) {

  .container {
    max-width: 100%;
    padding: 0 10px;
    
  }
}

/* Tablet Breakpoint */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 750px;
    padding: 0 15px;
  }
}

/* Desktop Breakpoint */
@media (min-width: 1024px) {
  html {
    font-size: 8px;
  }
  .container {
    max-width: 960px;
    padding: 0 20px;
  }
}
